{% include 'Brille24SyliusCustomerOptionsPlugin:all:_date.html.twig' %}

{% form_theme byProductListForm '@Brille24SyliusCustomerOptionsPlugin/Form/price_import_theme.html.twig' %}

<div class="ui styled fluid accordion">
    <div class="ui title"><i class="dropdown icon"></i>{{ 'brille24.ui.by_product_list'|trans }}</div>
    <div class="ui content">

    {{ form_start(byProductListForm, {'attr': {'class': 'ui loadable form'}}) }}
    {{ form_widget(byProductListForm) }}
    {{ form_end(byProductListForm) }}
    </div>
</div>
