{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    {{ include('@Brille24SyliusCustomerOptionsPlugin/PriceImport/_header.html.twig') }}

    <div class="ui segment">
        {{ include('@Brille24SyliusCustomerOptionsPlugin/PriceImport/_example.html.twig') }}

        {{ include('@Brille24SyliusCustomerOptionsPlugin/PriceImport/_form.html.twig') }}
    </div>
{% endblock %}
