/bin/*
!/bin/.gitkeep

/vendor/
/node_modules/

/etc/build/*
!/etc/build/.gitkeep

# Excluding the test application
/tests/Application/yarn.lock
/tests/Application/app/sqlite.db

/web

# PHP-Storm
.idea/