{% include 'Brille24SyliusCustomerOptionsPlugin:all:_date.html.twig' only %}

<h3 class="ui dividing header" style="margin-top: 0">{{- 'sylius.ui.configuration' |trans -}}</h3>
{% for element in form %}
    {{ form_row(element) }}
{% endfor %}