{% include 'Brille24CustomerOptionsPlugin:all:_date.html.twig' only %}

<h4 class="ui dividing header">{{ 'sylius.ui.configuration'|trans }}</h4>

{% for element in form %}
    {{ form_row(element) }}
{% endfor %}