{% block brille24_customer_option_value_widget %}
    {% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

    {{ form_row(form.code) }}

    {{ translationForm(form.translations) }}

    <br />

    {% if form.prices.vars.value is not null %}
        <div class="ui styled fluid accordion pricing-modal" data-customer-option-value="{{ form.code.vars.value }}">
            <div class="title">
                <i class="dropdown icon"></i>
                {{ form_label(form.prices) }}
            </div>
            <div class="ui content">
                {% include 'Brille24SyliusCustomerOptionsPlugin:CustomerOption:_pricing.html.twig' with {
                    'form': form.prices
                } %}
            </div>
        </div>
    {% endif %}
    <br />
{% endblock %}
