{% if configuration|length > 0 %}
    <h4>Customer Options</h4>
    <div class="ui list sylius-product-options">
        {% for customerOption in configuration %}
            <div class="item" data-sylius-option-name="{{ customerOption.customerOptionCode }}">
                {{ customerOption.customerOptionName }}:
                {{ customerOption.customerOptionValueName }}
            </div>
        {% endfor %}
    </div>
{% endif %}