{% block subject %}
    {{ 'brille24.email.customer_option_price_import_failed'|trans }}
{% endblock %}

{% block body %}
    <style>
        th, td {
            margin: 0;
            padding: 0.2rem;
        }
    </style>

    <table style="border-spacing: 0" border="1">
        <thead style="background-color: lightgrey">
        <tr>
            <th>Product code</th>
            <th>Error</th>
        </tr>
        </thead>
        <tbody>
        {% for productCode, error in failed %}
            <tr>
                <td>{{ productCode }}</td>
                <td>{{ error.message }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
