{% block subject %}
    {{ 'brille24.email.customer_option_price_import_failed'|trans }}
{% endblock %}

{% block body %}
    <style>
        th, td{
            margin: 0;
            padding: 0.2rem;
        }
    </style>

    <table style="border-spacing: 0" border="1">
        <thead style="background-color: lightgrey">
        <tr>
            <th>Error</th>
            {% for field, value in (failed|first).data %}
                <th>{{ field }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for error in failed %}
            <tr>
                <td>{{ error.message }}</td>
                {% for field, value in error.data %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
