/var/*
!/var/.gitignore

/public/assets
/public/bundles
/public/css
/public/js
/public/media
!/public/media/image/.gitignore

/vendor
/node_modules

/web/*
!/web/app.php
!/web/app_dev.php
!/web/app_test.php

/.env
/.env.prod
/.env.staging
/.env.test
/.env.test_cached
