<div class="ui tab" data-tab="customer_options">
    {{ form_row(form.customerOptionGroup) }}

    {{ form_row(form.customerOptionValuePrices) }}
    {{ form_errors(form.customerOptionValuePrices) }}
</div>