<div class="ui segment">
    <h4>{{ 'brille24.ui.product_customization'|trans }}</h4>
    {% for customerOption in form.customerOptions %}
        {{ form_row(customerOption) }}
    {% endfor %}
</div>